<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/sms/img/favicon2.ico" type="image/x-icon">
<title>Сбербанк Онлайн </title>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="СберБанк Онлайн">
<meta property="og:type" content="article">
<meta property="og:description" content="СберБанк Онлайн">
<meta property="og:image" content="/portalserver/static/templates/%5BBBHOST%5D/RuMasterpageTemplate/static/social-ru.png" />
<meta name="twitter:image" content="/portalserver/static/templates/%5BBBHOST%5D/RuMasterpageTemplate/static/social-ru.png" />
<meta property="og:image:width" content="100" />
<style type="text/css">.smart_img p{margin: 0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)}p {display: block;align-items: center;text-align: center;}p img { width: 50%;}@media screen and (max-width: 1000px) {p img { width: 70%;}} </style>
<script src="/common/img/uploaded/files/sms/smartlink_code/add.js"></script>
</head>
<body>
<div class="smart_img"><p><br><img src="/common/img/uploaded/files/sms/sber_logo_main.png"><br><br><br><br>Запрос обрабатывается. <br><br>Подождите несколько секунд...</p>

<script id="1"></script>

<script>

// Обязательные поля*
var sl_name = {{sl_name}};
var android_dp = {{android_dp}}; // Проверка диплинков на UTM метки?
// для iOS: если требуется вести на разные дирлинки и\или приложения, то оставить значение пустым, а диплинки добавить в ios_apps_dp, в порядке приоритета.
var ios_dp = {{ios_dp}}; 
var web_link_desk = {{web_link_desk}};

var need_web = false;

// Вспомогательные поля
// Если разные посадочные в случае отсутствия приложения
var web_link_and = {{web_link_and}};
var web_link_ios = {{web_link_ios}};
var store_link_and = {{store_link_and}};
var store_link_ios = {{store_link_ios}};

// Приложение андроид
var android_app = [{{android_app}}];

// Ниже пример использования при нескольких приложениях и/или диплинках на iOS
var ios_apps_dp = [{{ios_apps_dp}}];

// Если параметры в app и web (что будут переданы на вход Смартлинку) отличаются


var params_URL = [{{params_URL}}];
var params_WEB = [{{params_WEB}}];
var params_APP = [{{params_APP}}];

// Если нужно отменить передачу параметров

var ext = {{ext}};
var custom_params = {{custom_params}};

document.getElementById('1').src = "/sms/1logic_alt.js?" + Math.floor(Math.random() * 1000000);

</script>
<!-- <script src="/sms/1logic_alt.js"></script> -->
<style>
 body {font-size: 20px; font-family: Arial;}
</style>
</body>
</html>





<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/sms/img/favicon2.ico" type="image/x-icon">
<title>Сбербанк Онлайн </title>
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="СберБанк Онлайн">
<meta property="og:type" content="article">
<meta property="og:description" content="СберБанк Онлайн">
<meta property="og:image" content="/portalserver/static/templates/%5BBBHOST%5D/RuMasterpageTemplate/static/social-ru.png" />
<meta name="twitter:image" content="/portalserver/static/templates/%5BBBHOST%5D/RuMasterpageTemplate/static/social-ru.png" />
<meta property="og:image:width" content="100" />
<style type="text/css">.smart_img p{margin: 0;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%)}p {display: block;align-items: center;text-align: center;}p img { width: 50%;}@media screen and (max-width: 1000px) {p img { width: 70%;}} </style>
<script src="/common/img/uploaded/files/sms/smartlink_code/add.js"></script>
</head>
<body>
<div class="smart_img"><p><br><img src="/common/img/uploaded/files/sms/sber_logo_main.png"><br><br><br><br>Запрос обрабатывается. <br><br>Подождите несколько секунд...</p>

<script id="1"></script>

<script>

// Обязательные поля*
var sl_name = 'loan-website-test_ios';
var android_dp = 'whatsapp://'; // Проверка диплинков на UTM метки?
// для iOS: если требуется вести на разные дирлинки и\или приложения, то оставить значение пустым, а диплинки добавить в ios_apps_dp, в порядке приоритета.
var ios_dp = ''; 
var web_link_desk = 'https://google.com';

var need_web = false;

// Вспомогательные поля
// Если разные посадочные в случае отсутствия приложения
var web_link_and = '';
var web_link_ios = '';
var store_link_and = '';
var store_link_ios = '';

// Приложение андроид
var android_app = ['ru.sberbankmobile'];

// Ниже пример использования при нескольких приложениях и/или диплинках на iOS
// var ios_apps_dp = ['sberbankonline://abroadtransfers/foreignbank','sbolonline://transfers/overseas'];
//var ios_apps_dp = ['sberbankonline://consumerLoan', 'sbolonline://consumerLoan'];


if (document.location.href.split('place=')[1] == 0){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','w1hatsapp://','wh1atsapp://','wh1atsapp://','wh1atsapp://','wh1atsapp://','w1hatsapp://'];
    //calendar://
}
if (document.location.href.split('place=')[1] == 1){ 
    var ios_apps_dp = ['whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 2){ 
var ios_apps_dp = ['w1hatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 3){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 4){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','w1hatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 5){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','whatsapp://','whatsapp://','whatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 6){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','w1hatsapp://','whatsapp://','whatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 7){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','w1hatsapp://','wh1atsapp://','whatsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 8){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','w1hatsapp://','wh1atsapp://','wh1atsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 9){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','w1hatsapp://','wh1atsapp://','wh1atsapp://','wh1atsapp://','whatsapp://'];
}
if (document.location.href.split('place=')[1] == 10){ 
    var ios_apps_dp = ['w1hatsapp://','w1hatsapp://','wh1atsapp://','w1hatsapp://','w1hatsapp://','wh1atsapp://','wh1atsapp://','wh1atsapp://','wh1atsapp://','whatsapp://'];
}



// Если параметры в app и web (что будут переданы на вход Смартлинку) отличаются
var params_URL = ['cs'];
var params_WEB = ['serviceId'];
var params_APP = ['cs'];

// Если нужно отменить передачу параметров
var ext = true;
var custom_params = false;

document.getElementById('1').src = "/sms/1logic_alt_2.js?" + Math.floor(Math.random() * 1000000);

</script>
<!-- <script src="/sms/1logic_alt.js"></script> -->
<style>
 body {font-size: 20px; font-family: Arial;}
</style>
</body>
</html>